streamlit==1.56.0
torch
torchvision
opencv-python-headless==4.9.0.80
numpy==1.26.4
pillow==10.2.0
segmentation-models-pytorch==0.3.3
streamlit-lottie==0.0.5
pandas==2.0.3
requests==2.31.0
matplotlib==3.7.2
matplotlib-venn==0.11.7
dotenv==1.0.0